@tailwind base;
@tailwind components;
@tailwind utilities;

/* Clases personalizadas globales */
body {
  @apply bg-white dark:bg-gray-900 text-gray-800 dark:text-gray-100;
  min-height: 100vh;
}

a {
  @apply text-primary-dark hover:underline;
}